install
cdrom
lang fr_FR.UTF-8
keyboard --vckeymap=fr-oss --xlayouts='fr (oss)'
unsupported_hardware
network --bootproto=dhcp --activate
rootpw changeme
firewall --disabled
selinux --permissive
timezone Europe/Paris --isUtc
bootloader --location=mbr --append="net.ifnames=0 biosdevname=0"
text
skipx
zerombr
clearpart --all --initlabel
autopart
auth --enableshadow --passalgo=sha512 --kickstart
firstboot --disabled
eula --agreed
services --enabled=NetworkManager,sshd
reboot
user --name=fred --groups=wheel --password=$6$93AXBpea$qcqg09MJLAI3HqOnDr.Qjr893ebWiZBs.WQP27tixo8lZluof9Irsx8ZMrDQmSAwTnx5yx7/s/ymmF.JPbgwh. --iscrypted

%packages --ignoremissing --excludedocs
@^minimal
chrony
kexec-tools
# utils
yum-utils
openssh-clients
sudo
net-tools
vim
wget
curl
rsync
# cloud utils
open-vm-tools
cloud-init

# unnecessary firmware and packages
# turning off predictive network interface names
-biosdevname
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware

%end

%post
yum update -y

# update root certs
# wget -O/etc/pki/tls/certs/ca-bundle.crt http://curl.haxx.se/ca/cacert.pem

# sudo
echo "%wheel ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/wheel_conf
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

# admin user
mkdir /home/fred/.ssh
echo "ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAtlPTSNRN5D8k4eYm9Eank0x5paOWjwqrSDdgCeRJC5uH1TcA125ZiM9fQLefXUko/8Pgs4wTpJLmfWO2wNbfLP2+PsuJItNVKTXorDP3TzTcfTIXpePvUuTwfj9i/jOKWsC6WemuRTXFkG7/Yz8ErLtPcsYrdwC+/+/F5Ad4u7bX932cNe7h3FSfc3kVdunPUhD8FXa/uR4oEHwTRj2HbOqgZto/pV0dOyCi/Ae6BC7DQqEV5fuK++57m+15q8YgRZvfu3SzopliUOBKBdcwZ08n0p8YFsgBxtdcfRhNP6NywPpfrcBvVShiEyyL7texbWsK7YsWNjcNjXRaJFL0iQ== Fred_perso" > /home/fred/.ssh/authorized_keys
echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINnzU7g/QcppR1GZ004StXrDR5TlXFjCFR9NPR05a5lq fred@macbook-pro-de-frederic.home" > /home/fred/.ssh/authorized_keys
chown -R fred:fred /home/fred/.ssh
chmod 700 /home/fred/.ssh
chmod 600 /home/fred/.ssh/authorized_keys

yum clean all
%end
